{% load render_nan %}

<div class="container">
  <div id="sponsor_table_loading">
    <span class="glyphicon glyphicon-refresh spinning"></span>
  </div>



  <table cellspacing="5" cellpadding="5" border="0">
    <tbody><tr>
        <td>Minimum ACT trials</td>
        <td><input id="total__gte" name="total__gte" type="text"></td>
      </tr>
      <tr>
        <td>Sponsor class (Industry or non-industry or both)</td>
        <td>

          <div class="radio">
            <label>
              <input class="sponsor_type" type="radio" name="sponsor__is_industry_sponsor" value="" checked>
              All
            </label>
          </div>
          <div class="radio">
            <label>
              <input class="sponsor_type" type="radio" name="sponsor__is_industry_sponsor" value="2">
              Industry
            </label>
          </div>
          <div class="radio">
            <label>
              <input class="sponsor_type" type="radio" name="sponsor__is_industry_sponsor" value="3">
              Non-industry
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sponsors with trials overdue</td>
        <td>

          <div class="radio">
            <label>
              <input class="overdue_type" type="radio" name="with_trials_due" value="2" checked>
              Show only sponsors with overdue trials
            </label>
          </div>
          <div class="radio">
            <label>
              <input class="overdue_type" type="radio" name="with_trials_due" value="">
              Show all sponsors
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
    <a id="download" href="#">download</a>

  <table id="sponsor_table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Sponsor name</th>
        <th>Trials on register</th>
        <th>Trials due</th>
        <th>Trials reported</th>
        <th>% Reported</th>
        <th class="hidden_column">Major?</th>
      </tr>
    </thead>
  </table>
</div>

<script>
  $(document).ready(function() {
    rankingTable('{{ LATEST_DATE|date:"Y-m-d" }}');
  });
</script>
