{% load render_nan %}

<div class="container">
  <div id="sponsor_table_loading">
    <span class="glyphicon glyphicon-refresh spinning"></span>
  </div>

  <h1>How well do sponsors report their results?</h1>

  <form class="form">
    <div class="form-group">
      <label for="total__gte">Only show sponsors with at least </label>
      <input id="total__gte" name="total__gte" type="number" size="3">
      applicable trials
    </div>
    <div class="form-group">
      <label for="sponsor__is_industry_sponsor">Type of sponsor</label>
      <div class="radio">
        <label>
          <input class="sponsor_type" type="radio" name="sponsor__is_industry_sponsor" value="" checked>
          All
        </label>
        <label>
          <input class="sponsor_type" type="radio" name="sponsor__is_industry_sponsor" value="2">
          Industry
        </label>
        <label>
          <input class="sponsor_type" type="radio" name="sponsor__is_industry_sponsor" value="3">
          Non-industry
        </label>
      </div>
    </div>
  </form>

  <div class="pull-right">
    <a id="download" href="#"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download this data</a>
  </div>

  <table id="sponsor_table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Sponsor name</th>
        <th>Ongoing</th>
        <th>Overdue</th>
        <th>Reported</th>
        <th>Reported</th>
        <th class="hidden_column">Major?</th>
      </tr>
    </thead>
  </table>
</div>

<script>
  $(document).ready(function() {
    rankingTable('{{ LATEST_DATE|date:"Y-m-d" }}');
  });
</script>
