{% load compress %}
{% compress js %}
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap-sass-3.3.7/javascripts/bootstrap.min.js"></script>
    <script src="/static/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
    <script src="/static/FixedHeader-3.1.2/js/dataTables.fixedHeader.js"></script>
    <script src="/static/js/site.js"></script>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
{% endcompress %}

