{% load render_nan %}
{% load bar_chart %}

<script>
  total_unreported = {{ total_unreported }}
  total_reported = {{ total_reported }}
  total_due = {{ total_due }}
  not_yet_due_trials = {{ not_yet_due_trials }}
  inconsistent_trials = {{ inconsistent_trials }}
  total_trials = {{ total_trials }}
</script>

{% if total_trials > 0 %}
<div class="sponsor-charts jumbotron"><div class="container">
  <h1>{{ sponsor_name }}{% if sponsor_name|slice:"-1:" == "s" %}'{% else %}'s{% endif %}
    EU clinical trials</h1>
  <div class="first-column" id="late-reporting-column">
    {% if percent_unreported == 0 %}
      <div id="canvas-sub">&nbsp;</div>
      <div id="chartcopy-brash-1" class="chartcopy-bland">All</div>
      <div id="chartcopy-1">of {{ sponsor_name }}'s</div>
      <div id="chartcopy-2"><b>{{ total_due }}</b> due trials have</div>
      <div id="chartcopy-3"><b>been reported</b></div>
    {% elif percent_unreported == 100 %}
      <div id="canvas-sub">&nbsp;</div>
      <div id="chartcopy-brash-1" class="chartcopy-none">None</div>
      <div id="chartcopy-1">of {{ sponsor_name }}'s</div>
      <div id="chartcopy-2"><b>{{ total_due }}</b> due trials have</div>
      <div id="chartcopy-3"><b>been reported</b></div>
    {% elif percent_unreported|custom_percent == "-" %}
      <div id="canvas-sub">&nbsp;</div>
      <div id="chartcopy-brash-1"></div>
      <div id="chartcopy-1">None of {{ sponsor_name }}'s trials are</div>
      <div id="chartcopy-3"><b>due to report</b></div>
    {% else %}
      <canvas id="unreported_chart" height="140px"></canvas>
      <div id="chartcopy-brash-1">{{percent_unreported | custom_percent}}</div>
      <div id="chartcopy-1">of {{ sponsor_name }}'s</div>
      <div id="chartcopy-2"><b>{{ total_due}}</b> due trials are</div>
      <div id="chartcopy-3"><b>not reported</b></div>
    {% endif %}
  </div>
  <div class="second-column">
    <div id="trials-bar-chart">
      <div id="not-reported-bar" style="height: {% calc_bar total_due not_yet_due_trials inconsistent_trials %}%" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Late reporting results:&#010;{{ total_unreported }} trials">
      </div>
      <div id="reported-bar" style="height: {% calc_bar total_reported total_due not_yet_due_trials inconsistent_trials %}%" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Reported on time:&#010;{{ total_reported }} trials">
      </div>
      <div id="not-due-bar" style="height: {% calc_bar not_yet_due_trials total_due inconsistent_trials %}%" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Not yet due to report:&#010;{{ not_yet_due_trials }} trials">	</div>
      <div class="dashed-animation" id="inconsistent-data-bar" style="height: {% calc_bar inconsistent_trials total_due not_yet_due_trials %}%" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Inconsistent data:&#010;{{ inconsistent_trials }} trials">	</div>
    </div>
    <div id="trials-bar-caption">
      <span id="caption-1">Due trials</span>
      <span id="caption-2">Not due</span>
      <span id="caption-3">Inconsistent</span>
    </div>
  </div>
  <div class="third-column" id="inconsistent-data-column">
    {% if inconsistent_trials == 0 %}
      <div id="chartcopy-brash-2" class="chartcopy-bland">All</div>
    {% else %}
      <div id="chartcopy-brash-2">{{inconsistent_trials}}</div>
    {% endif %}
    {% if inconsistent_trials == 0 %}
    <div id="chartcopy-4">of {{ sponsor_name }}'s <b>{{ total_trials }}</b> register entries have</div>
      <div id="chartcopy-7">consistent data</div>
    {% else %}
      <div id="chartcopy-4">of {{ sponsor_name }}'s </div>
      <div id="chartcopy-5"><b>{{ total_trials }}</b> register entries</div>
      <div id="chartcopy-spacer-0" class="dashed-animation">&nbsp;</div>
      <div id="chartcopy-6">have</div>
      <div id="chartcopy-7">inconsistent data</div>
      <div id="chartcopy-spacer-1" class="dashed-animation">&nbsp;</div>
      <div id="chartcopy-8">so we can't be sure</div>
      <div id="chartcopy-9">if they've reported on time</div>
    {% endif %}
  </div>

  </div>
</div>

<script>
activate_charts()
</script>
{% endif %}
