<div class="row" id="summary-cards">
  <div id="fraction" class="valign col-sm-3">
    <div class="fraction card">
      <div class="header">
        <p class="category">
          Trials reported
        </p>
      </div>
      <div class="content" id="fraction-container">
        <div class="big-text">
          <span id="num">0</span>  out of <span id="denom">0</span>
        </div>
        <div class="icon bigtext-exempt hidden-xs">
          <img src="/static/images/reports.png">
        </div>
      </div>
    </div>
  </div>
  <div id="percentage" class="valign col-sm-3">
    <div class="percentage card">
      <div class="header">
        <p class="category">
          Percent reported
        </p>
      </div>
      <div class="content" id="percent-container">
        <div class="big-text">
          <span id="percent-amount">0%</span>
        </div>
        <div class="icon bigtext-exempt hidden-xs">
          <img src="/static/images/reports.png">
        </div>
      </div>
    </div>
  </div>
  <div id="fines" class="valign col-sm-3">
    <div class="fines card">
      <div class="header">
        <p class="category">
          Fines due to the US Govt are at least
        </p>
      </div>
      <div class="content" id="fine-container">

        <div class="big-text">
          <span id="fine-amount">$0</span></div>
        <div class="icon bigtext-exempt hidden-xs">
          <img src="/static/images/fines.png">
        </div>
      </div>
    </div>
  </div>
  <div id="claimed-fines" class="valign col-sm-3">
    <div class="claimed-fines card">
      <div class="header">
        <p class="category">
          Fines claimed by US Govt
        </p>
      </div>
      <div class="content" id="claimed-fine-container">
        <div class="big-text">
          <span class="big-text">$0</span>
        </div>
        <div class="icon bigtext-exempt hidden-xs">
          <img src="/static/images/fines.png">
        </div>
      </div>
    </div>
  </div>
</div>
