<div id="summary-card">
  <div id="fraction" class="valign">
    <div id="numerator"><span class="big-text">0</span> out of</div>
    <div id="denominator"><span class="big-text">0</span> due trials</div>
  </div>
  <div id="equals" class="valign big-text">=</div>
  <div id="percentage" class="valign">
    <div class="x-big-text">0%</div>
    <div class="small-text">reported trials</div>
  </div>
  <div id="fines" class="valign">
    <div class="small-text">Which adds up to </div>
    <div class="big-text" id="fine-amount">$0</div>
    <div class="small-text">in fines</div>
  </div>
  <div id="claimed-fines" class="valign">
    <div class="small-text">of which</div>
    <div class="big-text">$0</div>
    <div class="small-text">have been claimed by the FDA</div>
  </div>
</div>
