<div class="row hidden-xs">
  <div id="summary-card">
    <div id="fraction" class="valign col-sm-2">
      <div class="card">
        <div class="header">
          <p class="category">
            Trials reported
          </p>
        </div>
        <div class="content" id="fraction-container">
          <div id="numerator"  class="big-text"><span id="num">0</span></div>
           <span id="outof" class="bigtext-exempt">out of</span>
          <div id="denominator"><span class="big-text" id="denom">0</span></div>
        </div>
      </div>
    </div>
    <div id="percentage" class="valign col-sm-3">
      <div class="card">
        <div class="header">
          <p class="category">
            Percent reported
          </p>
        </div>
        <div class="content" id="percent-container">
          <div class="big-text">
            <i class="icon-warning ti-pulse"></i>
            <span id="percent-amount">0%</span>
          </div>
        </div>
      </div>
    </div>
    <div id="fines" class="valign col-sm-4">
      <div class="card">
        <div class="header">
          <p class="category">
            Total fines due to the FDA
          </p>
        </div>
        <div class="content" id="fine-container">

          <div class="big-text">
            <i class="icon-success ti-wallet"></i>
            <span id="fine-amount">$0</span></div>
        </div>
      </div>
    </div>
    <div id="claimed-fines" class="valign col-sm-3">
      <div class="card">
        <div class="header">
          <p class="category">
            Total fines claimed by the FDA
          </p>
        </div>
        <div class="content" id="claimed-fine-container">
          <div class="big-text">
            <i class="icon-danger ti-wallet"></i>
            <span class="big-text">$0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
