{% extends "_base.html" %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" id="about-page">

        <div class="page-header">
          <h1>About the FDAAA Compliance Tracker</h1>
        </div>

      <div class="content">
        <p class="lead">Non-reporting of clinical trial results is an
          <a href="http://www.nature.com/news/make-journals-report-clinical-trials-properly-1.19280">ongoing global public health problem</a>.
        </p>

        <p>
          The best currently available evidence shows that the results
          of clinical trials are routinely withheld from doctors,
          researchers, and patients. This is
          a <a href="http://alltrials.net/">global public health
          scandal</a>.
        </p>

        <h2>How do we contact you?</h2>

        <p>Email
        us! <a href="mailto:hello@ebmdatalab.net">hello@ebmdatalab.net</a>. We're
        always keen to hear feedback, user stories, insights you’ve
        made, errors, omissions, and feature requests.</p>

        <h2>Who made the FDAAA TrialsTracker?</h2>
        <p>We are the <a href="https://ebmdatalab.net">Evidence Based Medicine DataLab</a> at the University of Oxford, a team of academics, software engineers, and clinicians. <a href="https://ebmdatalab.net/seb-bacon/">Seb Bacon</a> was the software engineer; <a href="https://ebmdatalab.net/nicholas-devito/">Nick DeVito</a> the researcher; <a href="https://ebmdatalab.net/ben-goldacre/">Ben Goldacre was the PI</a>; <a href="http://bentheillustrator.com/">Ben O’Brien</a> was the illustrator; and <a href="https://ebmdatalab.net/#team">everyone in the DataLab team</a> contributed. </p>

        <h2>Why do we need all trials to report their results?</h2>
        <p>Clinical trials are the gold standard in medicine: they are
        generally the most fair test of which treatment works best. We
        use the results of clinical trials to make real-world
        decisions about which treatments work best. We can’t make
        informed choices if the results of clinical trials are
        withheld from doctors, researchers, and patients.</p>


        <h2>I’m a nerd! How is this website built, and what assumptions do you make about the data?</h2>

        <p>Our paper [link] is the best place to read the full
        technical details of how this site was made, how the data is
        processed, how the law operates, and how we translate that
          into code.</p>

        <p>There is <a href="/api/">an API</a>. It's
        somewhat self-explanatory, but <a href="mailto:hello@ebmdatalab.net">get in touch</a> if you would like
        to use it and we'll help you out (and write the
          documentation!)</p>

        <p>The code is <a href="https://github.com/ebmdatalab/clinicaltrials-act-tracker/">in Github</a>.</p>

        <h2>How can I help the FDAAA TrialsTracker?</h2>
        <p>In many, many ways!</p>
        <ul>
          <li>You can use our data to encourage trialists to report their trials!</li>
          <li>You can <a href="mailto:hello@ebmdatalab.net">give us feedback</a></li>
          <li>You can <a href="/fund/">give us resource</a> to help us build more!</li>
          <li>You can <a href="mailto:hello@ebmdatalab.net">collaborate with us</li>
        </ul>

        <h2>What can I do to help make sure sponsors share their results?</h2>
        <p>Trial reporting is a huge, global, ongoing problem. But
        there are more people working towards a solution than ever
        before.</p>
        <ul>
          <li>The <a href="http://alltrials.net">AllTrials.net</a>
          campaign calls for all trials to be reported, and now has
          the support of over 700 professional bodies, patient groups,
          government organisations, industry bodies, research funders,
          and more. Join them, support their work, and encourage your
          organisations to sign up to their simple pledge.</li>

          <li>You can advocate for better trial reporting in your own work community.</li>
          <li>You can use our data to encourage trialists to report their trials.</li>
          <li>You can call your elected representatives and tell them to pressure the FDA to levy fines and publicly censure researchers and sponsors who fail to report their trial results.</li>
        </ul>

        <h2>I think some trials on clinicaltrials.gov are missing from
          your site! Doesn’t the law cover all trials?</h2>
        <p>Sadly, FDAAA 2007 only covers a narrow subgroup of
        trials. We think all trials should report results: you can
        read more about the AllTrials.net campaign online. On this
        website we track only compliance with the law. We have a range
        of “TrialsTrackers” which monitor reporting for other kinds of
        clinical trial
        at <a href="https://trialsTracker.net">TrialsTracker.net</a></p>

        <h2>I found a trial I think is due to report results, under FDAAA, but it’s not listed as due?</h2>
        <p>There are a number of reasons why a trial that completed 12 months ago may not yet be due to report results under FDAAA.</p>
        <ul>
          <li>
            <strong>The trial may have become due within the last month:</strong>
            After the trial becomes due, even when the results are submitted to clinicaltrials.gov, there is a window of time in the legislation where clinicaltrials.gov staff can review the submission, and go back to the researchers with queries and requests. The legislation also allows a month for sponsors to send in results after they are nudged on the due day. We therefore allow an additional 30 days, following the 1 year from completion, before we consider a trial’s results due to appear. You can read more detail on this in our paper [link].
          </li>
          <li>
            <strong>The sponsor may have applied for an exemption:</strong>
            Sponsors can apply for a certificates that can delay the posting of results for certain trials, for up to 2 additional years. You can see if this is the case by clicking on the “Results’ tab on ClinicalTrials.gov. We might start flagging this on our website too, if it’s useful and interesting for you.
          </li>
          <li>
            <strong>The trial may not be required to report results under FDAAA:</strong>
            Unfortunately, only a subset of all trials registered on ClinicalTrials.gov are required to report results: essentially the law covers trials on drugs and devices: so a trial on a surgical technique, a public health intervention to reduce smoking, or a talking treatment for mental health problems, would likely be exempt. The trials covered by FDAAA are known as “Applicable Clinical Trials” or ACTs. Unhelpfully, although ClinicalTrials.gov know which trials are ACTs, they do not make this information public. We are, however, able to infer whether a trial is an ACT by using other publicly available data. You can read in detail about how we do this, in our paper [Link].
          </li>
          <li>
            <p>
              <strong>We may not have updated our data yet:</strong>
              If your trial became due very recently, you may need to wait for a data refresh. We’re planning to refresh the data on this site daily, at first, <a href="/fund/">resources permitting</a>. You can check in the footer of the website to see when we last updated our data, and when the next update is planned.</p>

            <p>If after reading this you think we are missing a due trial, please <a href="mailto:hello@ebmdatalab.net">get in touch</a>!</p>
          </li>
          <li>
            <strong>How do you calculate what fines a sponsor could receive?</strong>
            The FDA can fine non-reporting sponsors up to $10,000 a day following a 30 day notice period. We calculate the maximum possible fine assuming the sponsor was notified the day after they failed to meet their submission deadline. So each day after 395 days since trial completion without submitted results is another $10,000. You can read more on this in our paper.
          </li>
          <li>
            <strong>When was the data last updated?</strong>
            The current data was taken from ClinicalTrials.gov on {{ LATEST_DATE|date:"j F Y" }}. Our next update of the data is planned for {{ NEXT_PLANNED_UPDATE|date:"j F Y" }}.
          </li>
        </ul>
      </div>
    </div>

{% endblock %}
