{% extends "_base.html" %}


{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" id="about-page">

        <div class="page-header">
          <h1>About the FDAAA Compliance Tracker</h1>
        </div>

      <div class="content">
        <p class="lead">Non-reporting of clinical trial results is an
          <a href="http://www.nature.com/news/make-journals-report-clinical-trials-properly-1.19280">ongoing global public health problem</a>.
        </p>

        <p>
          The best currently available evidence shows that the results
          of clinical trials are routinely withheld from doctors,
          researchers, and patients. This is
          a <a href="http://alltrials.net/">global public health
          scandal</a>.
        </p>
        <p>
          The <a href="https://www.fda.gov/RegulatoryInformation/LawsEnforcedbyFDA/SignificantAmendmentstotheFDCAct/FoodandDrugAdministrationAmendmentsActof2007/default.htm">FDA
          Amendment Act of 2007 (FDAAA)</a> requires certain clinical
          trials to report their results on
          <a href="https://clinicaltrials.gov/">ClinicalTrials.gov</a>. Despite
          extensive evidence of breaches, no fines have ever been
          issued.
        </p>
        <p>
          The <a href="https://www.federalregister.gov/documents/2016/09/21/2016-22129/clinical-trials-registration-and-results-information-submission">Final
          Rule</a> to properly implement this law has now finally come
          into force. The first trials required to report results
          under the new FDAAA rules will begin to come due on January
          18, 2018. There is then a one month delay to results being
          posted.
        </p>
        <h2>What we hope to do next</h2>
        <p>Subject to funding, we would like to add PACTs before Jan
        2017, and also fold in data we developed for in our original
        TrialsTracker (which includes data from PubMed).
        </p>
        <p>
          <strong style="background-color: yellow">Mention policy audit and EU Trials Tracker</strong>
        </p>
      </div>
    </div>

{% endblock %}
