{% extends "_base.html" %}
{% load humanize %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" id="about-page">

        <div class="page-header">
          <h1>About the FDAAA Compliance Tracker</h1>
        </div>

      <div class="content">
        <p class="lead">Non-reporting of clinical trial results is an
          <a href="http://www.nature.com/news/make-journals-report-clinical-trials-properly-1.19280">ongoing global public health problem</a>.
        </p>

        <p>
          The best currently available evidence shows that the results
          of clinical trials are <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0114023">routinely withheld</a> from doctors,
          researchers, and patients. This is
          a <a href="http://alltrials.net/">global public health
          scandal</a>.
        </p>

        <h2>How do we contact you?</h2>

        <p>Email
        us! <a href="mailto:bennett@phc.ox.ac.uk">bennett@phc.ox.ac.uk</a>. We're
        always keen to hear feedback, user stories, insights you’ve
        made, errors, omissions, and feature requests.</p>

        <h2>What’s this all about?</h2>

        <p>The <a href="https://www.gpo.gov/fdsys/pkg/PLAW-110publ85/pdf/PLAW-110publ85.pdf">FDA Amendments Act 2007</a> (“FDAAA”) is 
            a law which says that <a href="https://www.gpo.gov/fdsys/pkg/FR-2016-09-21/pdf/2016-22129.pdf">certain clinical trials have 
            to report their results, within 12 months of completion</a>. 
           
            This is really important. Doctors and patients use the results of clinical trials to make informed choices 
            about which medicine works best. But the best currently available evidence shows that trial results are routinely 
            withheld. 
           
            Previously, laws and guidelines aiming to fix this issue have been widely ignored, despite 
            energetic <a href="http://www.alltrials.net/">campaigns</a>. So we built this website, to increase public accountability, 
            and to help researchers make sure they report all their trials. 
           
            You can read more about the problem in general, and this website, in 
            our <a href="https://www.biorxiv.org/content/biorxiv/early/2019/10/18/266452.full.pdf">methods paper</a> on the project.</p> 
          You can find information our other TrialsTracker projects at <a href="https://trialstracker.net/">TrialsTracker.net</a>.

        <h2>Who made the FDAAA TrialsTracker?</h2>
        <p>We are the <a href="https://www.bennett.ox.ac.uk/">Bennett Institute for Applied Data Science</a> at the University of Oxford, a team of 
            academics, software engineers, and clinicians working together to make live interactive tools as well as academic papers. 
            <a href="https://www.bennett.ox.ac.uk/about-us/seb-bacon/">Seb Bacon</a> was the software engineer;
            <a href="https://www.bennett.ox.ac.uk/about-us/nick-devito/">Nick DeVito</a> the researcher; 
            <a href="https://www.bennett.ox.ac.uk/about-us/ben-goldacre/">Ben Goldacre</a>  devised the project and was PI; 
            <a href="http://bentheillustrator.com/">Ben O’Brien</a> was the illustrator; 
            <a href="https://www.bennett.ox.ac.uk/about-us/">everyone in the Bennett Institute team</a> contributed. You can read more about our all 
            work - on research integrity, and health informatics more broadly - 
            at <a href="https://www.bennett.ox.ac.uk/">bennett.ox.ac.uk</a></p>

          <h2>Are you publishing a paper on FDAAA compliance?</h2>
          <p>Yes we are!</p>
          <p>Our first paper examining compliance with FDAAA has been published in <i>The Lancet</i>:</p>
          <blockquote>DeVito NJ, Bacon S, Goldacre B. Compliance with legal requirement to report clinical trial results on 
              ClinicalTrials.gov: a cohort study. The Lancet. DOI: <a href="https://doi.org/10.1016/S0140-6736(19)33220-9">10.1016/S0140-6736(19)33220-9</a> 
          </blockquote>
          <p>We plan on exploring this data further in future publications. You can read about our team's other research outputs on 
            research transparency and clinical informatics at <a href="https://www.bennett.ox.ac.uk/">bennett.ox.ac.uk</a></p>     
          
        <h2>I’m a nerd! How is this website built, and what assumptions do you make about the data?</h2>

        <p><a href="https://www.biorxiv.org/content/biorxiv/early/2019/10/18/266452.full.pdf">Our methods paper</a>
          is the best place to read the full
        technical details of how this site was made, how the data is
        processed, how the law operates, and how we translate that
          into code.</p>

        <p>There is <a href="/api/">an API</a>. It's somewhat
        self-explanatory; however, if you would like to use it and
        need some help <a href="mailto:bennett@phc.ox.ac.uk">get in
        touch</a>.</p>

        <p>If you want to read the code for the website, it’s on 
            Github <a href="https://github.com/ebmdatalab/clinicaltrials-act-tracker/">here</a> 
            and <a href="https://github.com/ebmdatalab/clinicaltrials-act-converter">here</a> and the code for our Lancet paper is
            <a href="https://github.com/ebmdatalab/fdaaa_trends">here</a></p>

        <h2>How can I help the FDAAA TrialsTracker?</h2>
        <p>In many, many ways!</p>
        <ul>
          <li>You can use our data to encourage trialists to report their trials!</li>
          <li>You can <a href="mailto:bennett@phc.ox.ac.uk">give us feedback</a></li>
          <li>You can <a href="/fund/">give us resource</a> to help us build more!</li>
          <li>You can <a href="mailto:bennett@phc.ox.ac.uk">collaborate with us</a></li>
        </ul>

        <h2>What can I do to help make sure sponsors share their results?</h2>
        <p>Trial reporting is a huge, global, ongoing problem. But
        there are more people working towards a solution than ever
        before.</p>
        <ul>
          <li>The <a href="http://alltrials.net">AllTrials.net</a>
          campaign calls for all trials to be reported, and now has
          the support of over 700 professional bodies, patient groups,
          government organisations, industry bodies, research funders,
          and more. Join them, support their work, and encourage your
          organisations to sign up to their simple pledge.</li>

          <li>You can advocate for better trial reporting in your own work community.</li>
          <li>You can use our data to encourage trialists to report their trials.</li>
            <li>You can <a href="https://callyourrep.co/">call your elected representatives</a> and tell them to pressure the FDA to 
                levy fines and publicly censure researchers and sponsors who fail to report their trial results.</li>
        </ul>

        <h2>I think some trials on ClinicalTrials.gov are missing from
          your site! Doesn’t the law cover all trials?</h2>
        <p>Sadly, FDAAA 2007 only covers a narrow subgroup of
        trials. We think all trials should report results: you can
        read more about the <a href="http://alltrials.net">AllTrials.net</a> campaign online. On this
        website we only track compliance with the law. We have a range
        of “TrialsTrackers” which monitor reporting for other kinds of
        clinical trial
        at <a href="https://trialsTracker.net">TrialsTracker.net</a></p>


        <h2>What is the difference between an ACT and a pACT?</h2>

        <p>ACT stands for “Applicable Clinical Trial”. These are the
        specific trials required to report results under FDAAA. ACT,
        in the context of this tracker, is specifically referring to
        trials that began after the effective date of the 2016 “Final
        Rule” (January 18, 2017). While the Final Rule created much
        clearer criteria for identifying an ACT, trials that began
        before, and end after, the effective date may be required to
        report, but data on the criteria for judging whether they are
        is less available. These trials are called “probable ACTs”, or
        “pACTS” (by everybody, not just us!) and are identified by a
        different methodology. We have added a tag to every trial so
        you know which methodology was used to identify that
        trial. You can read the details on ACTs and pACTs in 
            <a href="https://www.biorxiv.org/content/biorxiv/early/2019/10/18/266452.full.pdf">our
            paper</a>.</p>

        <p>If you think we have wrongly identified a trial, please <a href="mailto:bennett@phc.ox.ac.uk">get in touch</a>!</p>

        <h2>I found a trial I think is due to report results, under FDAAA, but it’s not listed as due. Why is that?</h2>
        <p>There are a number of reasons why a trial that completed 12 months ago may not yet be due to report results under FDAAA.</p>
        <ul>
          <li>
            <strong>The trial may have become due within the last month:</strong>
            The FDAAA 2007 allows for an up to 30 day administrative window for posting results. If a trial has submitted results, 
              even if they haven’t been fully posted yet, this should be noted in the study record, and our “webscraping” tool will 
              automatically find that information. However, to be safe, and to account for any delays by ClinicalTrials.gov, we wait 
              this entire 30 day period before calling a trial “overdue”. If full results show up in the meantime, we will show them 
              as reported. You can read more detail on this in 
              <a href="https://www.biorxiv.org/content/biorxiv/early/2019/10/18/266452.full.pdf">our paper</a>.
          </li>
          <li>
            <strong>The sponsor may have applied for an exemption:</strong>
            Sponsors can apply for a certificate that allows certain trials to delay the posting of results for up to 2 
              additional years. You can see if this is the case by clicking on the "Results" tab on ClinicalTrials.gov. Since 
              ClinicalTrials.gov does not share the exact type of extension provided, we assume any certification is for the full 
              2 additional years. We may start flagging this for relevant trials in a future update.
          </li>
          <li>
            <strong>The trial may not be required to report results under FDAAA:</strong>
            Unfortunately, only a subset of all trials registered on ClinicalTrials.gov are required to report results: 
              essentially the law covers trials on drugs and devices: so a trial on a surgical technique, a public health 
              intervention to reduce smoking, or a talking treatment for mental health problems, would likely be exempt. 
              The trials covered by FDAAA are known as “Applicable Clinical Trials” or ACTs. Unhelpfully, although ClinicalTrials.gov 
              know which trials are ACTs, they do not make this information public. We are, however, able to infer whether a trial is 
              an ACT by using other publicly available data. You can read in detail about how we do this, 
              in <a href="https://www.biorxiv.org/content/biorxiv/early/2019/10/18/266452.full.pdf">our paper</a>.
          </li>
          <li>
            <strong>We may not have updated our data yet:</strong>
              If your trial became due very recently, you may need to wait for a data refresh. We’re planning to refresh the data on 
                this site daily, at first, <a href="/fund/">resources permitting</a>. You can check in the footer of the website to see 
                when we last updated our data, and when the next update is planned.
          </li>
            </ul>
         
          <p>If after reading this you still think we are missing a due trial, please 
              <a href="mailto:bennett@phc.ox.ac.uk">get in touch</a>!</p>
             

        <h2>I found a journal article/conference abstract/other document containing results from this study. Why are you saying it has 
            unreported results?</h2>
        <p>The FDAAA 2007 is a law that requires all applicable trials to report their results on ClinicalTrials.gov within 
            12 months of completion in the ClinicalTrials.gov tabular format. This is to ensure that results are shared in a 
            timely manner without editorial delays; to ensure that results can be easily located; and to ensure that results are 
            completely and correctly reported. FDAAA sets out a standard format for reporting clinical trials. 
            <a href="http://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1001566">Previous research has shown</a> 
            that overall journal publications are significantly less complete than structured reports on ClinicalTrials.gov: 
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4650202/">for example, journals often permit misreporting of 
                prespecified outcomes</a>, and are <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4535304/">less 
            complete for safety data</a>. Journal reporting is often interesting and useful 
            but the law requires results to be reported on ClinicalTrials.gov.</p>

        <h2>This trial’s primary completion date has passed, but it has not yet reached its completion date. Why are you saying it is 
            required to report?</h2>
        <p>Under FDAAA trials are required to report within 12 months of their “Primary Completion Date”. The “Completion Date” is a 
            different data field. These data fields have <a href="https://prsinfo.clinicaltrials.gov/definitions.html">very specific 
            meanings and definitions on ClinicalTrials.gov</a>. The Primary Completion Date is the last visit of the last subject for 
            measurement of the primary outcomes. Some trials may additionally continue to follow-up with patients for weeks, months, 
            or even years after they finish collecting data on their primary outcomes. The responsible party is required to report the 
            results for the primary outcomes 12 months after the Primary Completion Date. We use the “Completion Date” field to measure 
            when a trial is due to report if the “Primary Completion Date” field is missing. ClinicalTrials.gov allows trial results 
            records to be updated and amended, as needed, to accommodate additional results if and when they become available.</p>

        <h2>How do you calculate what fines a sponsor could receive?</h2>
        <p>The FDA can fine (per 333(f)(3)(B) in table <a href="https://www.gpo.gov/fdsys/pkg/FR-2017-02-03/pdf/2017-02300.pdf">here</a>) 
            non-reporting sponsors up to ${{ FINE_PER_DAY|intcomma }} a day following a 30 day notice period. We calculate the maximum 
            possible fine assuming the sponsor was notified the day after they failed to meet their submission deadline. 
            So each day after 1 year plus 30 days since trial completion without submitted results is another ${{ FINE_PER_DAY|intcomma }}.
            The amount the FDA could fine delinquent sponsors has actually increased every year with inflation. However since it is unclear 
            how these differences in inflation adjusted fines would be implemented, we currently use the fine amount as it stood when we launched the website.
            You can read more on this in <a href="https://www.biorxiv.org/content/biorxiv/early/2019/10/18/266452.full.pdf">our methods paper</a>.</p>

        <h2>This trial's recruitment status isn't listed as "Completed" and/or the primary completion date is listed as "anticipated" on 
            ClinicalTrials.gov. Why is it due to report?</h2>
        <p>As explained in our paper, any status other than "Withdrawn" (which means no subjects were enrolled before the study was halted) 
            is not considered when deternmining whether a trial is due to report results under the law. Additionally, while sponsors are 
            allowed to use "anticipated" primary completion dates if the actual date is not yet known, it is their repsonsibility to ensure 
            these dates are accurate. The law clearly states that in the absense of an actual primary completion date, the deadline for 
            results will be calculated from the anticipated primary completion date per
            (<a href="https://www.law.cornell.edu/uscode/text/42/282">US Code 402(j)(3)(E)(i)(I)</a>) 
          
          <h2>What are cancelled result?</h2>    
          <p>When a sponsor has submitted results, but before they have completed quality control with ClinicalTrials.gov, they can choose 
              to cancel their submission. This is noted in the trial record along with any subsequent resubmissions. For the purposes of the 
              FDAAA TrialsTracker, we note these trials in their own "Overdue (cancelled results)" category until new results are resubmitted, 
              but do not calculate any additional fines as it is unclear how these would be assessed.</p>  
          
          <h2>How can I cite this work?</h2>
          <p>Please cite the website as:</p>

          <blockquote>FDAAA TrialsTracker. EBM DataLab. 2018. Available from: <a href="https://fdaaa.trialstracker.net/">https://fdaaa.trialstracker.net/</a></blockquote>

          <p> For citations regarding our methods, please cite our preprint paper: </p>

          <blockquote>DeVito NJ, Bacon S, Goldacre B. FDAAA TrialsTracker: A live informatics tool to monitor compliance with FDA requirements to report clinical trial results. bioRxiv. 2018; <a href="https://doi.org/10.1101/266452">https://doi.org/10.1101/266452</a>.</blockquote>
          
          <p> For citations regarding our analysis in The Lancet: </p>
          
          <blockquote>DeVito NJ, Bacon S, Goldacre B. Compliance with legal requirement to report clinical trial results on 
              ClinicalTrials.gov: a cohort study. The Lancet. DOI: <a href="https://doi.org/10.1016/S0140-6736(19)33220-9">10.1016/S0140-6736(19)33220-9</a> </blockquote>
          
          <h2>When was the data last updated?</h2>
        <p>
          The current data was taken from ClinicalTrials.gov on {{ LATEST_DATE|date:"j F Y" }}. Our next update of the data is planned for {{ NEXT_PLANNED_UPDATE|date:"j F Y" }}.
        </p>
      </div>
    </div>

{% endblock %}
