{% extends "_base.html" %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="page-header">
    <h1>Fund This Work!</h1>
  </div>

  <p class="lead">
    We think transparency and accountability are the key to improving science. We are a small, dedicated, effective team at the University of Oxford.
  </p>
  <p>
    With more funds we could do all of the following:
  </p>

  <h3>New Trackers!</h3>
  <ul>
    <li>
      Deliver more new automated trackers
    </li>
    <li>
      Deliver more new manually curated trackers
    </li>
    <li>
      Offer a bespoke “auditing service” to institutions and funders
    </li>
  </ul>

  <h3>Advocacy and Impact!</h3>
  <ul>
    <li>Do more campiagn activity around each new tracker, and each new data update, with <a href="http://www.alltrials.net">AllTrials</a></li>
    <li>Chase the researchers and funders of individual unreported trials, to ask them why they haven’t reported their results, and document their responses</li>
    <li>Make our existing Trackers more attractive!</li>
  </ul>


  <h3>Better Trackers!</h3>
  <ul>
    <li>Add new features to our existing Trackers</li>
    <li>Invest more in our work that uses AI and Machine Learning to spot unreported trials</li>
    <li>Do more frequent updates on our manual trackers</li>
  </ul>

  <h3>More Targets!</h3>
  <ul>
    <li>Make a central site, with a page for every company, showing all their scores in one place</li>
    <li>Make a central site, with a page for every treatment, and disease, where you can see whether the trials are all reported</li>
    <li>Shine a spotlight on individual funders, including non-commercial funders, to compare their performance</li>
  </ul>

  <h3>Deliver Faster!</h3>
  <ul>
    <li>We are a small dedicated team</li>
    <li>Dealing with journals, regulators, and the rest, takes a lot of time</li>
    <li>With more funding, and more stable funding, we can expand, and deliver everything we already deliver: but faster, better, bigger, and with more impact!</li>
  </ul>

  <h3>So get in touch!</h3>
  <p>You can contact the team at <a href="mailto:hello@ebmdatalab.net">hello@ebmdatalab.net</a> or the project PI at <a href="mailto:ben.goldacre@phc.ox.ac.uk">ben.goldacre@phc.ox.ac.uk</a></p>
</div>

{% endblock %}
