{% extends "_base.html" %}

{% block social_title %}{% block title %}
  FDAAA &mdash; Who’s not sharing clinical trial results?
{% endblock %}{% endblock %}

{% block content %}
<p class="introtext">
  FFDAAA 2017 is a law that requires certain clinical trials to report results. After a long wait, it effectively comes into force from Feb 2018. The FDA are not publicly tracking compliance. So we are, here.
</p>
<div id="results">

  {% include '_summary_card.html' %}
  {% if request.user.is_authenticated %}
  <form class="form form-inline">
    <div class="form-group">
      <label for="total__gte">Only show sponsors with at least </label>
      <input id="total__gte" name="total__gte" type="number" size="3" style="width: 3em" placeholder="1">
      applicable trials
    </div>
  </form>
  <form class="form form-inline">
    <div class="form-group">
      <label>Type of sponsor</label>
      <div class="radio">
        <label for="all-sponsors">
          <input class="sponsor_type" id="all-sponsors" type="radio" name="sponsor__is_industry_sponsor" value="" checked>
          All
        </label>
      </div>
      <div class="radio">
        <label for="industry-sponsors">
          <input class="sponsor_type" id="industry-sponsors" type="radio" name="sponsor__is_industry_sponsor" value="2">
          Industry
        </label>
      </div>
      <div class="radio">
        <label for="nonindustry-sponsors">
          <input class="sponsor_type" id="nonindustry-sponsors" type="radio" name="sponsor__is_industry_sponsor" value="3">
          Non-industry
        </label>
      </div>
    </div>
  </form>
  {% endif %}

  <table id="sponsor_table" class="table{% if prelaunch_mode %} prelaunch{% endif %}" cellspacing="0" width="100%">
    {% if prelaunch_mode %}
    <tbody>
      <tr>
        <td>
          <div class="col-md-6 col-md-offset-3">
            <h4>February 18th 2018 is one year plus one month grace period since the FDAAA final rule came into effect.</h4>
            <h3>From Monday 19th February 2018, trials that are overdue to report will appear here, along with an estimate of how much the FDA could have levied in fines.</h3>
          </div>
        </td>
      </tr>
    </tbody>
    {% else %}
    <thead>
      <tr>
        <th>Sponsor name</th>
        <th>Due</th>
        <th>Reported</th>
        <th>Percent</th>
      </tr>
    </thead>
    {% endif %}
  </table>
  {% if not prelaunch_mode %}
    <a id="download" href="#" class="btn btn-default"><span class="ti-download" aria-hidden="true"></span> Download this data</a>
  {% endif %}
</div>
{% endblock%}

{% block extra_js %}
  <script>
  $(document).ready(function() {
    if ({% if prelaunch_mode %}false{% else %}true{% endif %}) {
      rankingTable('{{ LATEST_DATE|date:"Y-m-d" }}');
    }
    $('#results').fadeTo(500, 1);
    showPerformance();
    });
</script>
{% endblock %}
