{% extends "_base.html" %}

{% block social_title %}{% block title %}
  FDAAA &mdash; Who’s not sharing clinical trial results?
{% endblock %}{% endblock %}


{% block content %}
  {% include '_summary_card.html' %}
  {% if request.user.is_authenticated %}
  <form class="form form-inline">
    <div class="form-group">
      <label for="total__gte">Only show sponsors with at least </label>
      <input id="total__gte" name="total__gte" type="number" size="3" style="width: 3em" placeholder="1">
      applicable trials
    </div>
  </form>
  <form class="form form-inline">
    <div class="form-group">
      <label>Type of sponsor</label>
      <div class="radio">
        <label for="all-sponsors">
          <input class="sponsor_type" id="all-sponsors" type="radio" name="sponsor__is_industry_sponsor" value="" checked>
          All
        </label>
      </div>
      <div class="radio">
        <label for="industry-sponsors">
          <input class="sponsor_type" id="industry-sponsors" type="radio" name="sponsor__is_industry_sponsor" value="2">
          Industry
        </label>
      </div>
      <div class="radio">
        <label for="nonindustry-sponsors">
          <input class="sponsor_type" id="nonindustry-sponsors" type="radio" name="sponsor__is_industry_sponsor" value="3">
          Non-industry
        </label>
      </div>
    </div>
  </form>
  {% endif %}

  <table id="sponsor_table" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Sponsor name</th>
        <th>Due</th>
        <th>Reported</th>
        <th>Percent</th>
      </tr>
    </thead>
  </table>
  <a id="download" href="#" class="btn btn-default"><span class="ti-download" aria-hidden="true"></span> Download this data</a>
{% endblock%}

{% block extra_js %}
<script>
  $(document).ready(function() {
    rankingTable('{{ LATEST_DATE|date:"Y-m-d" }}');
    showPerformance();
  });
</script>
{% endblock %}
