{% extends "_base.html" %}
{% load humanize %}

{% block content %}
  {% include '_summary_card.html' %}

  {% if request.user.is_authenticated %}
  <form class="form">
    <div class="form-group">
      {% for k, v, i in status_choices %}
      <div class="checkbox">
        <label>
          <input class="status_filter" type="checkbox" name="status" value="{{ k }}" checked>
          {{ v }} ({{ i }})
        </label>
      </div>
      {% endfor %}
    </div>
  </form>
  {% endif %}

  <table id="trials_table" class="table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Status</th>
        <th class="sponsor-col">Sponsor</th>
        <th>Trial ID</th>
        <th>Title</th>
        <th class="text-nowrap">Completion date</th>
        <th class="text-nowrap">Days overdue</th>
      </tr>
    </thead>
  </table>

  <a id="download" href="#" class="btn btn-default"><span class="ti-download" aria-hidden="true"></span> Download this data</a>

  {% endblock %}

{% block extra_js %}
  <script>
    $(document).ready(function() {
      trialsTable('{{ sponsor.slug }}');
      showPerformance('{{ sponsor.slug }}');
    });
  </script>
{% endblock %}
