{% extends "_base.html" %}
{% block content %}

  <div class="container">

    <h1>All Applicable Clinical Trials</h1>

  <form class="form">
    <div class="form-group">
      <label for="sponsor__is_industry_sponsor">Status</label>
      {% for k, v, i in status_choices %}
      <div class="checkbox">
        <label>
          <input class="status_filter" type="checkbox" name="status" value="{{ k }}" checked>
          {{ v }} ({{ i }})
        </label>
      </div>
      {% endfor %}
    </div>
  </form>

  <div class="pull-right">
    <a id="download" href="#"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download this data</a>
  </div>


    <table id="trials_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Status</th>
          <th>Trial ID</th>
          <th>Title</th>
          <th>Completion date</th>
          <th class="hidden_column">Category</th>
        </tr>
      </thead>
    </table>

    <script>
      $(document).ready(function() {
        trialsTable('{{ sponsor.slug }}');
      });
    </script>

  </div>


{% endblock%}
