{% extends "_base.html" %}
{% block content %}

  <form class="form">
      {% for k, v, i in status_choices %}
      <div class="checkbox">
        <label for="filter-{{k}}">
          <input class="status_filter" id="filter-{{k}}" type="checkbox" name="status" value="{{ k }}" checked="checked">
          {% if k == 'due' %}
            <span class="label label-danger">
          {% elif k == 'reported' %}
            <span class="label label-success">
          {% elif k == 'reported-late' %}
            <span class="label label-warning">
          {% else %}
            <span class="label label-info">
          {% endif %}
            {{ v }}
            ({{ i }})
          </span>
        </label>
      </div>
      {% endfor %}
  </form>


  <table id="trials_table" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Status</th>
        <th>Sponsor</th>
        <th>Trial ID</th>
        <th>Title</th>
        <th class="text-nowrap">Completion date</th>
        <th class="text-nowrap">Days overdue</th>

      </tr>
    </thead>
  </table>
  <a id="download" href="#" class="btn btn-default"><span class="ti-download" aria-hidden="true"></span> Download this data</a>
  <script>
    $(document).ready(function() {
    trialsTable('{{ sponsor.slug }}');
    });
  </script>



{% endblock%}
