{% extends "_base.html" %}
{% block content %}

<div id="summary-card">
  <div id="fraction" class="valign">
    <div id="numerator"><span class="big-text">34</span> out of</div>
    <div id="denominator"><span class="big-text">11</span> due trials</div>
  </div>
  <div id="equals" class="valign big-text">=</div>
  <div id="percentage" class="valign">
    <div class="x-big-text">58%</div>
    <div class="small-text">reported trials</div>
  </div>
  <div id="fines" class="valign">
    <div class="small-text">Which adds up to </div>
    <div class="big-text" id="fine-amount">$13,100,000</div>
    <div class="small-text">in fines</div>
  </div>
  <div id="claimed-fines" class="valign">
    <div class="small-text">of which</div>
    <div class="big-text">$0</div>
    <div class="small-text">have been claimed by the FDA</div>
  </div>
</div>
  <form class="form">
      {% for k, v, i in status_choices %}
      <div class="checkbox">
        <label for="filter-{{k}}">
          <input class="status_filter" id="filter-{{k}}" type="checkbox" name="status" value="{{ k }}" checked="checked">
          {% if k == 'due' %}
            <span class="label label-danger">
          {% elif k == 'reported' %}
            <span class="label label-success">
          {% elif k == 'reported-late' %}
            <span class="label label-warning">
          {% else %}
            <span class="label label-info">
          {% endif %}
            {{ v }}
            ({{ i }})
          </span>
        </label>
      </div>
      {% endfor %}
  </form>


  <table id="trials_table" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Status</th>
        <th>Sponsor</th>
        <th>Trial ID</th>
        <th>Title</th>
        <th class="text-nowrap">Completion date</th>
        <th class="text-nowrap">Days overdue</th>

      </tr>
    </thead>
  </table>
  <a id="download" href="#" class="btn btn-default"><span class="ti-download" aria-hidden="true"></span> Download this data</a>
  <script>
    $(document).ready(function() {
      trialsTable('{{ sponsor.slug }}');
      showPerformance();
    });
  </script>



{% endblock%}
