fabric3
Django
django_compressor
django-libsass
csscompressor
gunicorn
psycopg2-binary
djangorestframework
djangorestframework-csv
django-filter
django-extensions
werkzeug
dateparser
requests
google-api-python-client==1.6.2
google-cloud-bigquery==0.26.0
google-cloud-storage==1.3.2
xmltodict
lxml
coverage
coveralls
mistune
python-twitter
ipython
django-extensions
ipdb