fabric3
Django
django_compressor
django-libsass
csscompressor
psycopg2-binary
djangorestframework
djangorestframework-csv
django-filter
django-extensions
werkzeug
dateparser
requests
lxml
coverage
coveralls
mistune
python-twitter
ipython
django-extensions
ipdb
-e git://github.com/ebmdatalab/clinicaltrials-act-converter#egg=clinicaltrials_converter