fabric3
Django
django-libsass
psycopg2-binary
djangorestframework
djangorestframework-csv
django-filter
django-extensions
google-api-python-client
werkzeug
dateparser
requests
lxml
coverage
coveralls
mistune
python-twitter
ipython
django-extensions
ipdb
-e git://github.com/ebmdatalab/clinicaltrials-act-converter#egg=clinicaltrials-act-converter